<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Sinatra Mock Server</string>
	<key>Concrete</key>
	<false/>
	<key>Definitions</key>
	<dict>
		<key>fixtures/fixture1.json</key>
		<dict>
			<key>Path</key>
			<string>fixtures/fixture1.json</string>
			<key>Group</key>
			<string>fixtures</string>
		</dict>
		<key>thin.yml</key>
		<dict>
			<key>Path</key>
			<string>thin.yml</string>
		</dict>
		<key>server.rb</key>
		<dict>
			<key>Path</key>
			<string>server.rb</string>
		</dict>
		<key>Rakefile</key>
		<dict>
			<key>Path</key>
			<string>Rakefile</string>
		</dict>
		<key>Gemfile.lock</key>
		<dict>
			<key>Path</key>
			<string>Gemfile.lock</string>
		</dict>
		<key>config.ru</key>
		<dict>
			<key>Path</key>
			<string>config.ru</string>
		</dict>
		<key>.gitignore</key>
		<dict>
			<key>Path</key>
			<string>gitignore</string>
		</dict>
		<key>.rvmrc</key>
		<dict>
			<key>Path</key>
			<string>rvmrc</string>
		</dict>
		<key>Gemfile</key>
		<dict>
			<key>Path</key>
			<string>Gemfile</string>
		</dict>
		<key>README.markdown</key>
		<dict>
			<key>Path</key>
			<string>README.markdown</string>
		</dict>
	</dict>
	<key>Identifier</key>
	<string>com.developertown.sinatraMockServer</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Nodes</key>
	<array>
		<string>fixtures/fixture1.json</string>
		<string>server.rb</string>
		<string>config.ru</string>
		<string>thin.yml</string>
		<string>Rakefile</string>
		<string>Gemfile</string>
		<string>Gemfile.lock</string>
		<string>.gitignore</string>
		<string>.rvmrc</string>
		<string>README.markdown</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
